* {
  box-sizing: border-box;
}

/* Søkebaren */
form.bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Selve knappen */
form.bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2980B9;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

/* Endrer farge på knappen når du holder over den. */
form.bar button:hover {
  background: #6DD5FA;
}

form.bar::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: verdana;
  
}


/* Stilering av header */
header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  height: 300px;
  background-image: linear-gradient(to bottom right, #2980B9, #6DD5FA, #FFFFFF);
}


/* Bokser for å plasere tekst i */
nav {
  float: left;
  width: 30%;
  background: rgb(30, 255, 0);
  padding: 20px;
}



article {
  float: left;
  padding: 20px;
  width: 125%;
  background-color: rgb(255, 255, 255);
  
}

/* Sentrering av tabel og resultat */
table, th {
  border: 0,1px solid #6DD5FA;
  margin-left: auto;
  margin-right: auto;

}



/* lager plass  etter boksene */
section::after {
  content: "";
  display: table;
  clear: both;
  
}

/* Stilering av footer */
.footer-basic {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* CSS stilering fra https://www.web-eau.net/blog/10-best-footer-html-css-snippets */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



/* Responsive layout - stakker boksene ved skalering av skjerm */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}